{% extends 'base/base.html' %}z
{% load static %}
{% block title %}Teste{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/style.css' %}">
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> atendimento técnico</h1>
      <p>testeeee</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">teste1</a></li>
  </ul>

{% endblock breadcrumb %}

{% block content %}

{% for help in helpdesk.helpdesks %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm">
        <strong>Código Helpdesk:</strong> {{ help.codigo_helpdesk }}
      </div>
      <div class="col-sm">
        <strong>Sintoma:</strong> {{ help.sintoma.descricao_sintoma }}
      </div>
      <div class="col-sm">
        <strong>Código do Atendente:</strong> {{ help.codigo_quem_atendeu }}
      </div>
    </div>
  </div>
{% endfor %}



{% endblock content %}

{% block extrascripts %}
<script src="{% static 'calendario/js/main.js'%}"></script>
{% endblock extrascripts %}
